html
  overflow hidden

html,body,p,img
  margin 0
  padding 0

.org-label
  height 15px
  padding 5px 8px
  background #4A7EFE
  line-height 15px
  font-size 12px
  font-weight 600
  position absolute
  top 0
  left 0
  color #fff
  border-radius 10px

.grid-user-detail-infowindow
  text-align left
  padding 0 10px
  .user-name
    font-size 14px
    font-weight 500
    color #333
    .leader-name
      margin-right 10px
    .leader-tip-icon
      vertical-align middle
    .leader-tip
      color #D31D01
      font-size 12px
      margin-left 2px
  .item
    font-size 12px
    line-height 23px
    .name
      color #666
    .content
      color #444
  .track-btn, .griduser-detail-btn
    color #D31D01
    font-size 12px
    margin-top 10px
    cursor pointer
    display inline-block
  .griduser-detail-btn
    margin-right 5px
  .camera-btn
    display inline-block
    vertical-align middle
    margin-left 20px
    cursor pointer

.camera-detail-infowindow
  text-align left
  padding 0 10px
  .name
    font-size 14px
    font-weight 500
    color #333
    .name-text
      margin-right 10px
  .item
    font-size 12px
    line-height 23px
    .name
      color #666
    .content
      color #444
  .play-btn
    color #D31D01
    font-size 12px
    margin-top 10px
    cursor pointer
    display inline-block

.poi-detail-infowindow
  text-align left
  padding 0 10px
  .poi-name
    margin-top -10px
    font-size 14px
    font-weight 500
    color #333
    .name-text
      margin-right 10px
  .item
    font-size 12px
    line-height 23px
    .name
      color #666
    .content
      color #444
  .detail-btn
    margin-left 10px
    color #D31D01
    font-size 12px
    cursor pointer
    display inline-block
